.app {
  text-align: center;
  display: flex;
  border: solid black;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  width: 50%;
}

.search {
  border: solid green;
  height: 25px;
  margin: 3px;
}

.headerSection {
  display: flex;
  border: solid teal;
  margin: 3px;
}

img {
  border-radius: 50%;
}

.employeeInfo {
  margin: 2px;
  text-align: left;
  border: solid grey;
  height: 20%;
}

.employeeSelected {
  margin-left: 3px;
  margin-right: 3px;
  border: solid tan;
}

.employeeList {
  display: flex;
  margin: 3px;
  border: solid red;
}

.employee {
  margin: 2px;
  border: solid peachpuff;
}

.jobTitle {
  color: silver;
}


